/* Page 1 */


.hero{
    background-image: url("../assets/images/img-desktop1-hero-blank.png");
}

/*///////////////////
    Item Section
*/

.card-columns{
    column-count: 1;
    margin-top: 50px;
}

.card{
    color: #fff;
    text-align: center;
    background-color: #182749;
}

.card a{
    margin-top: 10px;
    color: #ff9d4d;
}

.card p{
    font-size: 1.3rem;
    margin: 35px 0;
}

.card-img-top{
    background-color: #fff;
}

.card ul{
    list-style: none;
    padding: 0;
}

.card li{
    color: #ff9d4d;
    margin-top: 5px;;
}

.card button{
    background-color: #FF7400;
    border-color: #FF7400;
}

.card button:hover{
    background-color: #df6400;
    border-color: #df6400;
}

/* We're using breakpoints at 576px, 768px, 992px and 1200 */
@media (min-width: 768px) {
    .card-columns{
        column-count: 2;
    }
}

/*///////////////////
    Info Section
*/
.info-container_full{
    margin-top: 50px;
    padding: 0;
    color: #fff;
    background-color: #182749;
}

.info{
    margin-top: 0;
}

.info h3{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.info-text{
    padding: 15px 25px;
}

@media (min-width: 992px) {
    .info-text{
        padding: 15px 90px;
    }
}

/*///////////////////
    Contact Section
*/

.contact-box{
    background-image: url("../assets/images/asphalt_texture409.png");
    margin-top: 20px;;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 175px;
}

.contact-box p{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 2rem;
    font-weight: 500;
}

.contact-box p{
    color: #fff;
}

.contact-box p:last-child{
    color:#fedd00;
}

