/* Page 1 */


.hero{
    background-image: url("../assets/images/img-desktop1-hero-blank.png");
}

/*///////////////////
    Item Section
*/
.item{
    margin-top: 40px;
}

.item img{
    margin:5px 0;
    -webkit-box-shadow: 1px 1px 1px 1px #D4D4D4;
    box-shadow: 1px 1px 1px 1px #D4D4D4;

}

.item-image{
    position: relative;

}

.price{
    background-image: url('../assets/images/starburst-orange.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    top: -25px;
    right: -25px;
    text-align: center;
    vertical-align: middle;
}

.price::after{
    content: "";
    z-index: -1;
}

.price-text{
    margin: auto;
}

.price-text b{
    margin: 0;
    font-size: .9rem;
    color: #fff;
    line-height: 1.2;
}

.price-text b:last-child{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 1.2rem;
    font-weight: 500;
}

/*///////////////////
    Contact Section
*/

.contact-box{
    background-image: url("../assets/images/asphalt_texture409.png");
    margin-top: 20px;;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 175px;
}

.contact-box p{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 2rem;
    font-weight: 500;
}

.contact-box p{
    color: #fff;
}

.contact-box p:last-child{
    color:#fedd00;
}