/* Page 2 */



h1{
    -webkit-text-stroke: 2px black;
}

h2{
    color:#fedd00;
    -webkit-text-stroke: 1.5px black;
}

button, input{
    border-radius: 2px;
}

/*///////////////////
    Hero Section
*/

.hero{
    text-align: left;
    background-image: url("../assets/images/img-desktop2-hero-blank.png");
    background-position-x: center;
}

.hero-form{
    background: none;
    text-align: left;
}

/* We're using breakpoints at 576px, 768px, 992px and 1200 */
@media (min-width: 768px) {
    h1{
        -webkit-text-stroke: 3px black;
    }
    
    .hero-form{
        text-align: center;
    }
}

@media (min-width: 576px) {  
    h2 {
        -webkit-text-stroke: 2px black;
    }
}

/*///////////////////
    Item Section
*/
.item{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #182749;
}

.item img{
    margin:5px 0;
    -webkit-box-shadow: 1px 1px 1px 1px #D4D4D4;
    box-shadow: 1px 1px 1px 1px #D4D4D4;

}

.item b{
    color: #fff;
}

.item-image{
    position: relative;
}

.price{
    background-image: url('../assets/images/starburst-orange.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    top: -30px;
    right: -30px;
    text-align: center;
    vertical-align: middle;
}

.price::after{
    content: "";
    z-index: -1;
}

.price-text{
    margin: auto;
}

.price-text b{
    margin: 0;
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
}

.price-text b:last-child{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 1.5rem;
    font-weight: 500;
}

.item button{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    background-color: #FF7400;
    border-color: #FF7400;
}

.item button:hover{
    background-color: #df6400;
    border-color: #df6400;
}

/* We're using breakpoints at 576px, 768px, 992px and 1200 */
@media (min-width: 768px) {
    .price{
        width: 90px;
        height: 90px;
    }
}

@media (min-width: 992px) {
    .price{
        width: 100px;
        height: 100px;
    }
}

/*///////////////////
    Contact Section
*/
.contact p{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 2rem;
    margin: 0px;
}

.contact a, .contact button{
    font-family: 'Badaboom', 'Impact', fantasy;
    margin-top: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

.contact a{
    font-size: 2rem;
}

.contact button{
    font-size: 1.5rem;
    margin: 0;
}

.contact-text{
    height: 280px;
    margin-top: 10px;
}

.call, .email{
    text-align: center;
}

/* We're using breakpoints at 576px, 768px, 992px and 1200 */

@media (min-width: 992px) {
    .call, .email{
        text-align: left;
    }
}