/*///////////////////
    Global
*/

@font-face {
    font-family: 'Badaboom';
    src: url('./assets/font/BADABB.woff2') format('woff2'),
         url('./assets/font/BADABB.woff') format('woff'),
         url('./assets/font/BADABB.ttf') format('truetype');
}

body{
    background-color: #efefef;
}

h1, h2, h3, h4, h5, h6, .cta-font{
    font-family: 'Badaboom', sans-serif;
}


h1{
    font-size: 2.5rem;
    color: #fedd00;
}

h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}

p{
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.rotated {
    transform: rotate(-5deg);
    margin-bottom: 20px;;
}

.spaced{
    line-height: 1;
    letter-spacing: .2rem;
    word-spacing: .5rem;
}

/* We're using breakpoints at 576px, 768px, 992px and 1200 */
@media (min-width: 768px) {
    h1{
        font-size: 4rem;
        color: #fedd00;
    }

    h2{
        font-size: 3rem;
    }
}

/*///////////////////
    Hero Section
*/

.hero{
    background-image: url("./assets/images/img-desktop1-hero-blank.png");
    height: 500px;
    text-align: center;
    padding: 0;
}

.hero-form{
    height: 100%;
    width: 100%;
    padding: 0 5%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 27%, rgba(0,0,0,0.9) 100%);
}

.hero-form p, .hero-form label{
    color: #fff;
}

.hero-form input{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.cta-btn{
    margin: 0 auto;
    max-width: 300px;
    width: 100%
}


/* We're using breakpoints at 576px, 768px, 992px and 1200 */
@media (min-width: 768px) {
    .hero h2{
        text-align: center;
    }
}

@media (min-width: 992px) {
    .hero-form{
        padding-right: 5%;
        background: none;
        max-width: 1000px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 27%, rgba(0,0,0,0.9) 100%);
    }
}

/*///////////////////
    Item Section
*/
.item{
    width: 200px;
    margin-top: 40px;
}

.item img{
    margin:5px 0;
    -webkit-box-shadow: 1px 1px 1px 1px #D4D4D4;
    box-shadow: 1px 1px 1px 1px #D4D4D4;

}

.item-image{
    position: relative;

}

.price{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    background-color: #ff7400;
    border-radius: 50px;
    top: -25px;
    right: -25px;
    text-align: center;
    vertical-align: middle;
}

.price::after{
    content: "";
    z-index: -1;
}

.price-text{
    margin: auto;
}

.price-text b{
    margin: 0;
    font-size: .9rem;
    color: #fff;
    line-height: 1.2;
}

.price-text b:last-child{
    font-family: 'Badaboom', 'Impact', fantasy;
    font-size: 1.2rem;
    font-weight: 500;
}

/*///////////////////
    Info Section
*/
.info-container{
    padding: 20px;
}

.info{
    flex-direction: column;
    margin-top: 40px;
}

.info img, .info p{
    padding: 0;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .info{
        flex-direction: row;
    }

    .info img{
        padding-right: 30px;
    }
}

/*///////////////////
    Testimonials Section
*/

.testimonial-row{
    margin-top: 40px;
}

.testimonial img{
    width: 200px
}

.testimonial p{
    margin-top: 10px;
}